doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="/css/style.css")
        title Jhon | Portfolio
    body
        main
            .loading
                .logo
                    include ./img/cat_outline
                .bar 
                    p Jhon Guerrero
                
            
            header
                div.title
                    .logo
                        img(src="/img/Cat_outline_logo.svg", width="50" alt="Jhon Guerrero dev logo")
                    p Jhon Guerrero

                include ./img/menu
                
            include ./lib/menu

            tbody
                .scroll
                    .view(id="home") 
                    .view(id="skills") 
                    .view(id="web") 
                    .view(id="desktop") 
                    .view(id="android") 
                    .view(id="backend") 
                    .view(id="skill_programming") 
                    .view(id="skill_design") 
                    .view(id="portfolio") 
                    .view(id="about_me") 
                    .view(id="contact_me") 
                article
                    include ./lib/home
                    include ./lib/skills
                    include ./lib/web
                    include ./lib/desktop
                    include ./lib/android
                    include ./lib/backend
                    include ./lib/skill_programming
                    include ./lib/skill_design
                    include ./lib/portfolio
                    include ./lib/aboutme
                    include ./lib/contactme

    script(src="/js/_main.js") 
