article(scr="#about_me").skill
    .space 
    .container
        .content
            h2.big-text Sobre mi 
            p.small-text
                |Me enanta conocer personas nuevas y compartir conociemientos. 
                |Me gusta mantenerme en constante aprendizaje y de paso compartir 
                |todo aquello que sé. Me considero bastante abierto a opiniones, 
                |sugerencias y correcciones. No soy de enojarme por estas, ya que 
                |las mismas aportan a mi conocimiento.
                br 
                |Me encanta la naturaleza, arboles, animales y en especial los gatos, 
                |los adoro apesar de no tener uno, pero si tengo un perro el cual es 
                |mi mejor amigo. También me gusta experimentar cosas nuevas, tales como dibujar con 
                |vectores que es mi pasatiempo actual.
                |A exepcion del gato, el cual pedi hacer, los dibujos de esta web 
                |asi como sus animaciones fueron mi creación. El gato solo me tome 
                |el trabajo de vectorizarlo y animarlo un poco.
                |Soy autodidacta en lo que hago y jamás detengo mi aprendizaje. ♥
        .next_preview
            .next_content
                include ../img/desktop_smartphone
                h2 Portfolio