article(scr="#android").skill
    .space 
    .container
        .content 
            img.device(src="/img/android.svg" alt="web svg Jhon Ggerrero")
            .cite
                .bar
                p
                    |Desarrollo para Android en Java, Kotlin, 
                    |React Native y aplicaciones hibridas basadas 
                    |en JavaScript.

            .love 
                img.hear(src="/img/heart.svg", alt="Heart svg Jhon Guerero dev" width="40" height="40")
                p 
                    |De el desarrollo movil adoro las posibilidades 
                    |que ofrece al ser el dispositivo que siempre llevamos 
                    |en el bolsillo. 
        .next_preview
            .next_content
                img(src="/img/backend_and_shell.svg", alt="alt")
                h2 Back-end y Bash Scripting