article(scr="#backend").skill
    .space 
    .container
        .content.flex-column.v-center
            img.device(src="/img/backend_and_shell_d.svg" alt="backend and shell svg Jhon Ggerrero")
            .cite
                .bar
                p
                    |Backend y Bash Scripting.
                    br
                    |Desarrollo de Backend en Golang, 
                    |Nodejs, Java, Kotlin, Deno y Phyton.

            .love 
                img.hear(src="/img/heart.svg", alt="Heart svg Jhon Guerero dev" width="40" height="40")
                p 
                    |De el Shell me encanta la automatización de tareas.
                    |Y de el Backend adoro las conexiones, APIs, Bases de 
                    |datos, etc. Que hacen para mi un lugar más interesante.
        .next_preview
            .next_content
                include ../img/logos
                h2 Tecnologies