article#contact_me
    .space 
    .container 
        form(action="")
            input(type="text", placeholder="Nombre")
            input(type="text" placeholder="Correo")
            input(type="text" placeholder="Celular")
            