article(scr="#desktop").skill
    .space 
    .container
        .content.flex-column.v-center
            img.device(src="/img/PC.svg" alt="web svg Jhon Ggerrero")
            .cite
                .bar
                p
                   |Desarrollo de Aplicaciones para Linux y Windows, 
                   |esto en lenguajes como Python, Java y Kotlin

            .love 
                img.hear(src="/img/heart.svg", alt="Heart svg Jhon Guerero dev" width="40" height="40")
                p 
                    |De el desarrollo de escritorio me encanta 
                    |el tener tantos lenguajes que puedo elegir
        .next_preview
            .next_content
                img(src="/img/android.svg").desktop
                h2  Android Developer