article#home
    .space
    .container
        .head
            .left
                include ../img/person
            .right
                include ../img/logos
                h2 Jhon Guerrero

        .body

            .text
                h1 Bienvenido/a
                p 
                    |Hola! Bienvenid@ a mi portafolio, 
                    |espero te sea de utilidad para conocer 
                    |un poco más sobre mi y mis habilidades

            .aside
                h1 Un poco sobre mí
                p
                    |Desando a un lado lo laboral. Me considero bastante
                    |curioso y abierto a las opiniones de las demás persoas,
                    |siempre con muchas ganas de aprender y siempre con muchas
                    |ganas de aprender y de enseñar a la vez.
                    br
                    |mis pasatiempos son platicar con amigos, jugar en ocasiones y 
                    |aprender sobre cualquier tema que me parezca interesante.
                    br
                    |Soy amante de los gatos y me apasiona todo lo que hago.