nav 
    .option
        a(href="#home" swicht)
            span Home
    .option
        a(href="#skills" swicht)
            span Skills
        .more
            a(href="#web" swicht)
                li Web developer
            a(href="#desktop" swicht) 
                li Desktop developer
            a(href="#android" swicht)
                li Android developer
            a(href="#backend" swicht)
                li Bakend and Bash

    .option
        a(href="#tecnologies" swicht) 
            span tecnologies
        .more
            a(href="#skill_programming" swicht)
                li Programming
            a(href="#skill_design" swicht id="pito")
                li Design
    .option
        a(href="#portfolio" swicht) 
            span Portfolio

    .option    
        a(href="#about_me" swicht) 
            span About me

    .option
        a(href="#contact_me" swicht) 
            span Contact me