nav#menu
    .menu_option
        a(href="#home" class="selectable" )
            span Home
    .menu_option
        a(href="#skills" class="selectable" )
            span Skills
        .dropdown
            a(href="#web" class="selectable" )
                li Web developer
            a(href="#desktop" class="selectable" ) 
                li Desktop developer
            a(href="#android" class="selectable" )
                li Android developer
            a(href="#backend" class="selectable" )
                li Bakend and Bash

    .menu_option
        a(href="/#skill_programming" class="selectable" ) 
            span tecnologies
        .dropdown
            a(href="#skill_programming" class="selectable" )
                li Programming
            a(href="#skill_design" class="selectable"  )
                li Design
    .menu_option
        a(href="#portfolio" class="selectable" ) 
            span Portfolio

    .menu_option    
        a(href="#about_me" class="selectable" ) 
            span About me

    .menu_option
        a(href="#contact_me" class="selectable" )
            span Contact me