article(scr="#portfolio")
    .space 
    .container 
        

        .projects_list 
            .notify 
                h2 Nota ¡Importante!
                p.info 
                    |Por motivos relacionados a las empresas en las cuales preste mi servicios. Por contratos de privacidad, no puedo hacer publicos sus nombres ni presentar aquí dichos proyectos.
                    |Debido a lo anterior, e decidido hacer proyectos personales algo complejos y presentarlos aquí a medida que los vaya desarrollando, por ello son pocos pero complejos los proyectos acontinuación.
                    br 
                    br
                    |En un inicio puede que hayan 0, o 1 ya que recien empezare con su desarrollo.
