article#skill_design.skill.tech
    .space 
    .container
        .content
            .head
                h2 Tecnologias que domino
                h3 Diseño

            include ../img/design_skills

            .cite
                .bar 
                p 
                    |Aprendí diseño de interfacez (UI) y experiencia de usuario (UX) 
                    |con el fin de lograr hacer programas agradables a la vista y con 
                    |muy buena usabilidad. Me destaco principalmente como programador, 
                    |pero el diseño es un area a la cual no temo y que también sé manejar. 


        .next_preview
            .next_content
                include ../img/person_fresh
                h2 Design