article#skill_programming.skill.tech
    .space 
    .container
        .content
            .head
                h2 Tecnologias que domino
                h3 Programación

            include ../img/skills

            .cite
                h2 Frameworks

                p 
                    |Domino diferentes frameworks y bibliotecas de JavaScript
                    |para desarrollo nativo, IA, Backend y frontend.
                    br
                    br
                    br
                    |Tambien frameworks de Phyton, entre estos 
                    |Django, TensorFlow y Flask.

                include ../img/frameworks_skills

        .next_preview
            .next_content
                include ../img/design
                h2 Design