article(scr="#skills")
    .space
    .container 
        
        .intro 
            h2 Vamos a conocer mis habilidades
            p 
                |Vamos a conocer algunas de mis habilidades 
                | en el esarrollo, mobiel, web, de escritorio, 
                |linea de comandos y de back-end.
                br
                br 

                | Cada una de las plataformas para las cuales
                | desarollo, tienen algo que sencilamente me encanta,
                | a continuación veamos esas plataformas; que lenguajes 
                | e aprendido para desarrollar en ellas y que me encanta
                | de cada una. Espero todo el contenido acontinuación te sea 
                | de ayuda.

        .image 
            img(src="/img/devices.svg", alt="alt")