article(scr="#web").skill
    .space 
    .container
        .content.flex-column.v-center
            img.device(src="/img/Web.svg" alt="web svg Jhon Guerrero")

            .cite
                .bar
                p
                    |Desarrollo sitios y aplicaciones web, altamente 
                    |adaptables, y optimizados para lograr la mejor 
                    |experiencia al usuario.

            .love 
                img.hear(src="/img/heart.svg", alt="Heart svg Jhon Guerero dev" width="40" height="40")
                p 
                    |De la web me encanta su flexibilidad y que 
                    |está disponible para todos los dispositivos 
        .next_preview
            .next_content
                img(src="/img/desktop_and_android.svg", alt="alt")
                h2 Desktop and Android